@tailwind base;
@tailwind components;
@tailwind utilities;

/* @font-face {
  font-family: naikaifont;
  src: url(https://cdn.jsdelivr.net/gh/max32002/naikaifont@1.0/webfont/NaikaiFont-Regular-Lite.woff2) format("woff2");
} */

:root {
  font-size: 120%;
  --theme-color-background: #fff;
  --theme-color-primary: #00213b;
  --theme-color-secondary: #BF8C60;
  --footer-bgc: 8, 8, 8;
}

html,
body {
  padding: 0;
  margin: 0;
  --color: #000;
}

body {
  background-image: url(/noise.png);
  background-size: 20%;
  background-color: var(--theme-color-background);
  /* Safari need svh to prevent scrolling */
  height: 100svh;
  transition: background-color 0.3s;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-optical-sizing: auto;
  font-style: normal;
}

/* anchor */

.anchor>span {
  transition: transform 0.6s cubic-bezier(0.33, 1, 0.68, 1);
  color: var(--color);
}

.anchor:hover>span {
  transform: translateY(-1.3rem);
}

.anchor::after {
  display: block;
  content: '';
  height: 1px;
  width: 0;
  background-color: var(--color);
  position: absolute;
  bottom: 0;
  transition: 0.5s all;
}

.anchor:hover:after {
  width: 100%;
}

/* anchor end */

/* btn */

/* .btn {
    display: inline-block;
    padding: 0 2rem;
    min-height: 3rem;
    border-radius: 999px;
    text-decoration: none;
    transition: 0.3s all;
    border: 1px #5a6479 solid;
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    color: #5a6479;
}

.btn:hover {
    background-color: #5a6479;
    color: var(--theme-color-background);
} */

/* btn end */