.projects {
    /* grid-template-columns: repeat(3, calc(100% / 3)); */
}

.description {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    overflow: hidden;
}